.gallery {
  background-color: rgba(0, 0, 0, 0);
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  &__container {
    //div
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
  }

  &__target {
    //ul
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }

  &__item {
    margin-top: 9px;
    text-align: center;
    flex-basis: calc((100% - 8px) / 2);
    position: relative;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 109px;
      height: 101px;
      background-color: rgba(255, 192, 203, 0);
      border: 1px solid rgba(220, 86, 197, 0.3);
      border-radius: 50px 0 50px 0;
    }

    &:hover {
      border: 1px solid #dc56c64f;
      border-radius: 50px 0 50px 0;
      transform: scale(1.02);
      box-shadow: 0 0 5px 1px rgba(220, 86, 197, 1);
    }
  }

  &__img {
    width: 128px;
    height: 161px;
    margin-top: 9px;
    margin-bottom: 5px;
    border-radius: 50px 0 50px 0;
  }

  &__name {
    width: 128px;
    color: rgba(220, 86, 197, 1);
    font-weight: 700;
    font-size: 12px;
    line-height: 15.07px;
    text-align: center;
  }

  &__date {
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.07px;
  }

  &__city {
    color: white;
    font-size: 10px;
    text-transform: uppercase;
  }
}

/* agregue estilos a tablet y desktop (mobile se modifico solo el espacio entre imagenes) */

@media (min-width: 768px) {
  .gallery {
    width: 610px;
    &__target {
      gap: 13px;
    }

    &__item {
      flex-basis: calc((100% - 26px) / 3);

      &::after {
        top: 0;
        right: 0;
        width: 153px;
        height: 143px;
      }
    }
    &__link {
      padding: 0;
    }
    &__img {
      width: 180px;
      height: 227px;
      //margin-bottom: 5px;
    }
    &__name {
      width: auto;
      margin-top: 5px;
      font-size: 14px;
      line-height: 19.5px;
    }
    &__date {
      font-size: 14px;
      line-height: 19.5px;
    }
    &__city {
      font-size: 12px;
      line-height: 19.5px;
    }
  }
  @media (min-width: 1280px) {
    .gallery {
      width: 946px;
      &__target {
        gap: 56px;
      }
      &__item {
        flex-basis: calc((100% - 168px) / 4);
        &:not(:last-child) {
          margin-bottom: 0px;
        }
      }
      &__img {
        height: 227px;
        margin-bottom: 5px;
      }
      &__name {
        font-size: 16px;
        line-height: 19.5px;
      }
      &__date {
        font-size: 16px;
        line-height: 19.5px;
      }
      &__city {
        font-size: 14px;
        line-height: 19.5px;
      }
    }
  }
}
