.modal {
  width: 272px;
  height: 60%;
  margin: 0 auto;
  background-color: whitesmoke;
  border-radius: 150px 0 150px 0;
  padding: 75px 0;

  &__cont {
    text-align: center;
  }

  &__list {
    width: 40%;
    list-style: none;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 15px;
  }

  &__img {
    &--circle {
      width: 102px;
      height: 102px;
      display: flex;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 15px;
    }

    &--big {
      display: none;
    }
  }

  &__item h3 {
    color: rgba(220, 86, 197, 1);
  }
  &__btn {
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 145px;
    color: white;
    background-color: rebeccapurple;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__btn--more {
    width: 200px;
    border: 1px solid rebeccapurple;
    background-color: transparent;
    color: rebeccapurple;
    font-size: 15px;
  }
}
