.modal {
  width: 272px;
  height: 60%;
  margin: 0 auto;
  background-color: whitesmoke;
  border-radius: 150px 0 150px 0;
  padding: 75px 0;

  &__cont {
    text-align: center;
  }

  &__list {
    width: 40%;
    list-style: none;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 15px;
  }

  &__img {
    &--circle {
      width: 102px;
      height: 102px;
      display: flex;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 15px;
    }

    &--big {
      display: none;
    }
  }

  &__item h3 {
    color: rgba(220, 86, 197, 1);
  }
  &__btn {
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 145px;
    color: white;
    background-color: rebeccapurple;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__btn-more {
    width: 200px;
    border: 1px solid rebeccapurple;
    background-color: transparent;
    color: rebeccapurple;
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .modal {
    width: 595px;
    height: 831px;
    border-radius: 300px 0 300px 0;

    &__cont {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      &:not(:last-child) {
        margin-bottom: 45px;
      }
    }

    &__wrapper {
      display: flex;
    }

    &__img {
      &--big {
        display: flex;
        width: 233px;
        height: 416px;
        margin-right: 30px;
      }
    }

    &__list {
      background-color: aqua;
      width: 265px;
    }

    &__btn-more {
      width: 255px;
      padding: 10px 15px;
    }
  }
}

@media (min-width: 1280px) {
  .modal {
    width: 942px;
  }
}
