<footer class="footer">
  <div class="footer__pag" id="paginacion">
    <button class="footer__btn footer__btn--prev" id="prev">
      <svg class="footer__svg" width="24px" height="24px">
        <use href="/src/images/svg.defs.svg#icon-circle-left"></use>
      </svg>
    </button>
    <span class="footer__page" id="page"></span>
    <button class="footer__btn footer__btn--next" id="next">
      <svg class="footer__svg" width="24px" height="24px">
        <use href="/src/images/svg.defs.svg#icon-circle-right"></use>
      </svg>
    </button>
  </div>
  // contenedor para botones de pag
  <div>
  <p class="footer__p">
    © 2021 | All Rights Reserved | Developed with
    <span style="color: red">♥</span>
    by GoIT Students
  </p>
</footer>
