<main>
  <section class="main-section1">
    <div class="modal" id="myModal">
      <div class="modal-window">
        <div class="close-icon">
          <span class="svg-close">&times;</span>
        </div>
        <div class="head-image">
          <img class="event-image-head" src="#" alt="" />
        </div>
        <div class="center">
          <div class="main-image">
            <img class="main-event-image" src="#" alt="something" />
          </div>
          <div class="all-info">
            <div class="info">
              <h2>INFO</h2>
              <p class="infotext"></p>
            </div>
            <div class="when">
              <h2>WHEN</h2>
              <p class="date"></p>
              <p class="time"></p>
            </div>
            <div class="where">
              <h2>WHERE</h2>
              <p class="location"></p>
              <p class="place"></p>
            </div>
            <div class="who">
              <h2>WHO</h2>
              <p class="whoname"></p>
            </div>
            <div class="prices">
              <h2>PRICES</h2>
              <div class="standart-ticket">
                <svg hight="16" width="24">
                  <use href="/sprite.svg#icon-ticket_prices"></use>
                </svg>
                <p class="standartprice">Standart 50-130 USD</p>
              </div>
              <button class="buy-tickets">BUY TICKETS</button>
              <div class="vip-ticket">
                <svg hight="16" width="24">
                  <use href="/sprite.svg#icon-ticket_prices"></use>
                </svg>
                <p class="vip-price">VIP 180-270 USD</p>
              </div>
              <button class="buy-tickets">BUY TICKETS</button>
            </div>
          </div>
        </div>
        <div class="more-information">
          <button>MORE FROM THIS AUTHOR</button>
        </div>
      </div>
    </div>

    <ul class="list-cards"></ul>
  </section>
</main>
